<div class="page-wrapper chiller-theme toggled">
    
  <nav id="sidebar" class="sidebar-wrapper">
      <div class="sidebar-content">
          <div class="sidebar-brand">
            
              <div id="close-sidebar">
                 
              </div>
              <br>
              <br>
              <br>
          </div>
          <div class="sidebar-header">
            <div class="user-pic">
                <img class="img-responsive img-rounded" src="assets/images/nature/2.jpg" alt="User picture">
            </div>
            <div class="user-info">
                <span class="user-name">
                    <br>
                        <strong class="text-danger" >Fournisseur</strong>
                </span>
                
               
                   
            </div>
          <!-- sidebar-header  -->
          <div class="sidebar-search">
            
          </div>
          <br>
          <br>
          <br>
          <br>
          <!-- sidebar-search  -->
          <div class="sidebar-menu">
              <ul>
                  <li class="header-menu">
                      <span>General</span>
                  </li>
                  <li class="sidebar-dropdown">
                      
                          
                          <a class="nav-link" [routerLink]="['/fournisseur/acceuil']" routerLinkActive="active">acceuil</a>
                        
                      </li>
                     
               <!--   <li class="sidebar-dropdown">
                      
                         
                          <span> <a class="nav-link"[routerLink]="[{outlets:{contentOutlet:'ajouterSalle'}}]"routerLinkActive="active">ajouter la salle</a></span>
                         
                     </li>-->
                  
                      
                  <li class="sidebar-dropdown">
                     
                          <i class="far fa-gem"></i>
                          <span><a class="nav-link" [routerLink]="['/fournisseur/reservation-match']" routerLinkActive="active">reservation match</a></span>
                      
                      </li>
                  <li class="sidebar-dropdown">
                      
                         
                          <a class="nav-link"  [routerLink]="['/fournisseur/valider-tournoi']"  routerLinkActive="active">valider tournoi</a>
                     
                    </li>
                     
                  <li class="sidebar-dropdown">
                      
                        
                          <span>
                            <a class="nav-link" [routerLink]="['/fournisseur/valider-abonnement']"  routerLinkActive="active">valider abonnement</a>
                      
                      </span>
                      </li>
                  <li class="sidebar-dropdown">
                      <span><a class="nav-link" [routerLink]="['/fournisseur/message']"  routerLinkActive="active">envoyer demande</a></span>
                  </li>
                  <li>
                     
                          
                    <a class="nav-link" [routerLink]="['/fournisseur/black']"  routerLinkActive="active">Black lister personne</a>
                     
                  </li>
                  <li>
                    
                         
                          <span> <li class="nav-item">
                            <a class="nav-link" [routerLink]="['/fournisseur/tournoi']"  routerLinkActive="active">engager dans une tournoi</a>
                          </li></span>
                     
                  </li>
              

                  <li>
                      
                          
                    <a class="nav-link"[routerLink]="['/fournisseur/evenement']"  routerLinkActive="active">ajouter evenement</a>
                      
                  </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>

























