




           <div >
                
                <label>codeTournoi</label> <br><input type="text" class="form-control" [(ngModel)]="client.codeTournoi" />
                       nom:<br> <input path="nom" class="form-control" placeholder="nom" [(ngModel)]="client.nom"/>
                 
                  
                   <label>prenom:</label>  <br><input path="salle" class="form-control" placeholder="prenom"[(ngModel)]="client.prenom" />
                  
                  <br>
                  
                   <label>numero Telephone:</label>  <br><input type="text"  class="form-control" placeholder="numero Telephone"[(ngModel)]="client.num" />
                
                    
                   <br>
                  <button class="btn btn-outline-info" (click)="saveClient()"> envoyer demande</button>
                  
            </div>
           
            
            
        