 
  <div class="page-wrapper chiller-theme toggled">
   
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
              
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <div class="sidebar-header">
                <div class="user-pic">
                    <img class="img-responsive img-rounded" src="assets/images/nature/2.jpg" alt="User picture">
                </div>
                <div class="user-info">
                    <span class="user-name">Ghalim
                        <strong>Youssef</strong>
                    </span>
                    <span class="user-role">Administrator</span>
                    <span class="user-status">
                        <i class="fa fa-circle"></i>
                        <span>youssefghalim@gmail.com</span>
                    </span>
                </div>
            </div>
            <!-- sidebar-header  -->
           
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown">
                        
                            <i class="fa fa-tachometer-alt"></i>
                            <span> <a  [routerLink]="['/utilisateur/dashboard']" routerLinkActive="active">Dashboard </a></span>
                          
                        
                       
                    <li class="sidebar-dropdown">
                        
                           
                            <span> <a  [routerLink]="['/utilisateur/visualiser']" routerLinkActive="active">visualiser la salle</a></span>
                           
                       
                        
                    <li class="sidebar-dropdown">
                       
                            <i class="far fa-gem"></i>
                            <span><a  class="nav-link"  [routerLink]="['/utilisateur/reservation-match']" routerLinkActive="active">reservation match</a></span>
                        
                        
                    <li class="sidebar-dropdown">
                        
                            <i class="fa fa-chart-line"></i>
                            <span> <a class="nav-link"   [routerLink]="['/utilisateur/reservation-tournoi']"  routerLinkActive="active">reservation tournoi</a></span>
                       
                      </li>
                      <li>
                        
                            
                            <span> <a class="nav-link" [routerLink]="['/utilisateur/abonnement']"  routerLinkActive="active">demande abonnement</a></span>
                        
                    </li>
                       
                    <li class="sidebar-dropdown">
                        
                          
                            <span>
                              <a class="nav-link" [routerLink]="['/utilisateur/poster-condidature']"  routerLinkActive="active">poster condidature</a></span>
                        
                        
                    <li class="sidebar-dropdown">
                        <span><a class="nav-link"  [routerLink]="['/utilisateur/message']"  routerLinkActive="active">envoyer demande</a></span>
                    </li>
                    <li>
                       
                            
                            <span> <a class="nav-link"  [routerLink]="['/utilisateur/profil']"  routerLinkActive="active">inviter un joueur</a></span>
                       
                    </li>
                    <li>
                      
                           
                            <span> <li class="nav-item">
                              <a class="nav-link"  [routerLink]="['/utilisateur/tournoi']"  routerLinkActive="active">engager dans une tournoi</a>
                            </li></span>
                       
                    </li>
                 
                    <li>
                        
                      
                      <span>  <a class="nav-link"  [routerLink]="['/utilisateur/accessoire']"  routerLinkActive="active">louer des accessoire</a></span>
                  
              </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        
            
        
    
    <!-- page-content" -->

<!-- page-wrapper -->